<div class="row text-center">
  <div class="col-md-12">
    <h1>To Do</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div id="accordion" role="tablist" aria-multiselectable="true" *ngFor="let user of users; let i = index">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{user.id}}" (click)="getTodosByUser(user.id)" aria-expanded="true" aria-controls="collapse">
            {{user.name}} 
            </a>
          </h5>
        </div>

      <div id="collapse{{user.id}}" class="collapse" role="tabpanel" aria-labelledby="headingOne" >
          <div class="card-block">{{ i }}
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard     of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div> <!-- /card -->
    </div><!-- /accordion -->
  </div> <!-- /col-md-12 -->
</div>