<div class="row text-center">
  <div class="col-md-12">
    <h1>To Do</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-2 userTask" (click)="getTodosByUser(user.id)" *ngFor="let user of users" [class.userSelected]="user.id === userSelected">
    {{user.name}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div *ngIf="todosData">
      <table class=" table table-striped">
        <thead>
          <tr>
            <td>User's Task</td>
            <td>Status</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let todo of todosData">
            <td> {{ todo.title }} </td>
            <td> <span class="btn{{todo.completed}}">{{todo.completed ? 'Completed' : 'Uncompleted' }}</span> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>