.btnhome {
    text-align: center;
    display: inline-block;
    background-color: #eceeef;
    border-radius: 5px;
    box-shadow: none;
    width: 10%;
    cursor: pointer;
    margin: 3em;
}

.btnhome:hover {
    background-color: #03A9F4;
    transition: .4s;
    color: #fff;
}

.btnhome:hover a {
    color: #fff;
}