<div class="container">  
      <div class="row">

        <div class="col-md-6">
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-3"><a routerLink="posts" routerLinkActive="selected">Posts</a></h1>
              <p class="lead">Read excellents posts from our authors</p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-3"><a routerLink="albums" routerLinkActive="selected">Albums</a></h1>
              <p class="lead">Browse our collections albums</p>
            </div>
          </div>
        </div>

      </div> <!-- /row -->

      <div class="row">

        <div class="col-md-6">
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-3"><a routerLink="authors" routerLinkActive="selected">Authors</a></h1>
              <p class="lead">Meet our fantastic authors</p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-3"><a routerLink="todos" routerLinkActive="selected">To do</a></h1>
              <p class="lead">Do you know what you do ?</p>
            </div>
          </div>
        </div>


      </div> <!-- /row -->
      <div class="row">
        <div class="col-md-12">
          <router-outlet></router-outlet>
        </div>
      </div>
      <div [hidden]="!location.path('/')">
        <my-button></my-button>
        </div>
</div>